/.vs
/.vscode
.idea/
/Intermediate
/Saved
.vsconfig
DieselPunk.sln
DieselPunk.code-workspace
Platforms/HoloLens/Config/HoloLensEngine.ini
Plugins/Developer/RiderLink/
DieselPunk.sln.DotSettings.user
Binaries/Win64/GuardiansWEditor-Win64-DebugGame.target
Binaries/Win64/UnrealEditor-GuardiansW-Win64-DebugGame.dll
Binaries/Win64/UnrealEditor-GuardiansW-Win64-DebugGame.pdb
Binaries/Win64/UnrealEditor-Win64-DebugGame.modules
Binaries/Win64/boost_atomic-mt-x64.dll
Binaries/Win64/boost_chrono-mt-x64.dll
Binaries/Win64/boost_filesystem-mt-x64.dll
Binaries/Win64/boost_iostreams-mt-x64.dll
Binaries/Win64/boost_program_options-mt-x64.dll
Binaries/Win64/boost_python39-mt-x64.dll
Binaries/Win64/boost_regex-mt-x64.dll
Binaries/Win64/boost_system-mt-x64.dll
Binaries/Win64/boost_thread-mt-x64.dll
Binaries/Win64/OpenImageDenoise.dll
Binaries/Win64/tbb.dll
Binaries/Win64/tbb.pdb
Binaries/Win64/tbb12.dll
Binaries/Win64/D3D12/D3D12Core.dll
Binaries/Win64/D3D12/d3d12SDKLayers.dll
Binaries/Win64/*.patch*