/.vs
/.vscode
.idea/
/Intermediate
/Saved
.vsconfig
DieselPunk.sln
DieselPunk.code-workspace
Platforms/HoloLens/Config/HoloLensEngine.ini
Plugins/Developer/RiderLink/
DieselPunk.sln.DotSettings.user
Binaries/Win64/DieselPunkEditor-Win64-DebugGame.target
Binaries/Win64/UnrealEditor-DieselPunk-Win64-DebugGame.dll
Binaries/Win64/UnrealEditor-DieselPunk-Win64-DebugGame.pdb
Binaries/Win64/UnrealEditor-Win64-DebugGame.modules
Binaries/Win64/boost_atomic-mt-x64.dll
Binaries/Win64/boost_chrono-mt-x64.dll
Binaries/Win64/boost_filesystem-mt-x64.dll
Binaries/Win64/boost_iostreams-mt-x64.dll
Binaries/Win64/boost_program_options-mt-x64.dll
Binaries/Win64/boost_python39-mt-x64.dll
Binaries/Win64/boost_regex-mt-x64.dll
Binaries/Win64/boost_system-mt-x64.dll
Binaries/Win64/boost_thread-mt-x64.dll
Binaries/Win64/OpenImageDenoise.dll
Binaries/Win64/tbb.dll
Binaries/Win64/tbb.pdb
Binaries/Win64/tbb12.dll
Binaries/Win64/D3D12/D3D12Core.dll
Binaries/Win64/D3D12/d3d12SDKLayers.dll
Binaries/Win64/*.patch*
Binaries/Win64/DieselPunk.exe
Binaries/Win64/DieselPunk.pdb
/Plugins/DragonIK/Intermediate
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
global.json
packages/Microsoft.Extensions.DependencyInjection.6.0.0/.signature.p7s
packages/Microsoft.Extensions.DependencyInjection.6.0.0/Icon.png
packages/Microsoft.Extensions.DependencyInjection.6.0.0/LICENSE.TXT
packages/Microsoft.Extensions.DependencyInjection.6.0.0/Microsoft.Extensions.DependencyInjection.6.0.0.nupkg
packages/Microsoft.Extensions.DependencyInjection.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.DependencyInjection.6.0.0/useSharedDesignerContext.txt
packages/Microsoft.Extensions.DependencyInjection.6.0.0/buildTransitive/netcoreapp2.0/Microsoft.Extensions.DependencyInjection.targets
packages/Microsoft.Extensions.DependencyInjection.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/net6.0/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/net6.0/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.xml
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.dll
packages/Microsoft.Extensions.DependencyInjection.6.0.0/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.xml
